/* Intentando resolver el problema del celular horizontal */
/* small devica portrait */
/* @media (max-width: 575.98px) {
  .projectImage{
    height: 250px;
  }
} */

/* Small device landscape */
/* @media (min-width: 576px) and (max-width: 991.98px){
  .projectImage{
    height: 150px;
  }
} */

@media (min-width: 1200px){
  .myAbout{
    height: 100vh;
  }

  .myContact{
    height: 100vh;
  }

  .myPortfolio{
    height: 100vh;
  }
}
  
@media (max-width: 768px){
  .myContact{
    margin-bottom: 50px;
  }
}

.myPhoto{
  opacity: 0.3;
  transition: ease-in-out 1s;
}

.myPhoto:hover{
  opacity: 1;
}

.myForm{
  background-color: transparent;
  margin-bottom: 50px;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 1px solid var(--gray-dark);
  width: 100%;
  outline: 0;
}

.myForm:focus{
  border-bottom: 2px solid white;
  color: white;
}

.myForm:focus::placeholder{
  color: white;
}


.errorForm{
  border-bottom: 1px solid red;
  margin-bottom: 0;
  color: red;
}

.errorForm::placeholder{
  color: red;
}

.errorSpan{
  margin-bottom: 50px;
}

.myTextarea{
  resize: none;
}

.myCard{
  opacity: 0.5;
  padding: 50px 0;
  color: white;
  background-color: transparent;
  transition: ease-in-out 0.4s;  
}

.myCard:hover{
  opacity: 1;
}

.myProject{
  opacity: 0.4;
  transition: ease-in-out 0.5s; 
}

.myProject:hover{
  opacity: 1;
}

.dropzone{
  height: 25%;
  width: 100%;
  border: 2px var(--gray-dark) dashed!important;
  background: none!important;
  background-color: none!important;
  color: white!important;
  line-height: 200%;
  margin: none;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: white;
  text-decoration: none;
}

.myA{
  text-decoration: none;
  color: gainsboro;
}


.myA:hover{
  border-bottom: 1px solid white;
  font-weight: bolder;
  color: white!important;
}

.myActive{
  border-bottom: 1px solid white;
  font-weight: bolder;
  color: white!important;
}

.myNav{
  background: rgba(0, 0, 0, 0.7);
}

html{
  scroll-behavior: smooth;
}

.footer{
  margin-top: auto;
  background-color: rgba(0, 0, 0, 0.7);
  /* border-top: 0.001px solid gray; */
}

html{
  height: 100%;
}

body{
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

*::selection{
  background: rgba(255, 255, 255, 0.9);
  color: black;
}

.author p{
  color: gainsboro;
  opacity: 0.5;
  transition: 0.4s ease-in-out;
}

.author span{
  color: gainsboro;
  opacity: 0.8;
  transition: 0.4s ease-in-out;
}

.author p:hover{
  opacity: 1;
  color: white;
}

.technologies{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  margin: 25px 0px 0px;
  padding: 0px;
}

.technology{
  position: relative;
  font-size: 14px;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}